asgiref==3.12.1
beautifulsoup4==4.13.4
blinker==1.9.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
dj-database-url==3.1.2
Django==6.0.7
Flask==3.1.1
fonttools==4.62.1
gunicorn==26.2.0
hupper==1.12.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
legacy-cgi==2.6.4
lxml==6.1.1
MarkupSafe==3.0.2
matplotlib==3.10.8
MouseInfo==0.1.3
mysql==0.0.3
mysql-connector-python==9.6.0
mysqlclient==2.2.8
narwhals==2.23.0
numpy==2.2.6
opencv-contrib-python==4.13.0.92
packaging==26.0
pandas==2.2.3
PasteDeploy==3.1.0
pillow==11.2.1
plaster==1.1.2
plaster-pastedeploy==1.0.1
player==0.6.1
plyer==2.1.0
psycopg2-binary==2.9.13
PyAutoGUI==0.9.54
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyparsing==3.3.2
pypdf==6.5.0
pyperclip==1.9.0
pypiwin32==223
pyramid==2.1
pyramid_jinja2==2.10.1
PyRect==0.2.0
PyScreeze==1.0.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
pytweening==1.2.0
pytz==2025.2
pywhatkit==5.4
pywin32==311
qr==0.6.0
qrcode==8.2
requests==2.32.3
scikit-learn==1.9.0
scipy==1.18.0
seaborn==0.13.2
setuptools==80.9.0
six==1.17.0
soupsieve==2.7
sqlparse==0.5.5
threadpoolctl==3.6.0
translationstring==1.4
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
venusian==3.1.1
WebOb==1.8.9
Werkzeug==3.1.3
whitenoise==6.12.0
wikipedia==1.4.0
win10toast==0.9
win10toast-click==0.1.2
zope.deprecation==6.0
zope.interface==8.3
